* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.App{
  display: flex;
  height: 100vh;
}

/* Controller */
.controller{
  display: flex;
  height: 100%;
  width: 22%;
  align-items: center;
  padding: 10px;
  gap: 10px;
  flex-direction: column;
  overflow-y: scroll;
}

/* Section */
.section{
  display: flex;
  border-radius: 5px;
  width: 100%;
  height: 90px;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  flex-shrink: 0;
  border: 3px solid transparent;
}

.section:active{
  color: gray;
  z-index: 1;
}


.section:hover{
  border-left: 3px solid #6776C1;
}

.section_img_wrapper{
  height: 90%;
  width: 25%;
  min-width: 50px;
  cursor: grab;
}
.section_img_wrapper.dragging {
  cursor: grabbing; 
}

.section_img_wrapper img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.section_text{
  align-content: center;
  width: 50%;
  height: 100%;
  font-size: 20px;
  min-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  cursor: grab;
}

.section_text.dragging {
  cursor: grabbing; 
}

.section_visibility{
  flex-grow: 1;
  font-size: 20px;
  width: 22.5px;
  text-align: center;
}

.section_drag {
  flex-grow: 1;
  font-size: 20px;
  text-align: center;
  margin-left: 10px;
  cursor: grab;
}
.section_drag.dragging{
  cursor: grabbing; 
}

/* Render */
.render{
  background-color:rgb(231 235 238);
  height: 100%;
  width: 78%;
  justify-items: center;
}


.render_box{
  height: 100%;
  width: 100%;
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 20px;
  overflow-y: auto;
  background-color: white;
  transition: ease 0.3s;
}

.render_box.active{
  width: 60%;
}


.render_box_img_wrapper{
  min-width: 300px;
  border: 2px solid transparent;  ;
}

.render_box_img_wrapper.active{
  border: 2px solid #6776C1;  ;
}

.render_box_img_wrapper img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* Scrollbar */
.render_box::-webkit-scrollbar {
  width: 6px; 
}

.render_box::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

.render_box::-webkit-scrollbar-thumb {
  background: rgba(193,193,193,255); 
  border-radius: 10px;
}

.render_box::-webkit-scrollbar-thumb:hover {
  background: rgba(125,125,125,255); 
}